<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
  <p>В приложении TestGuru можно выполнять различные тесты после регистрации в системе.</p>
  <p>Подробнее на <a href="https://thinknetica.com/" target="_blank">www.thinknetica.com</a>
  </body>
</html>
